html {
	display: flex;
	justify-content: center;
}

#root {
	position: relative;
}

body {
	padding: 1rem 2rem;
	/* background: linear-gradient(90deg, snow 1px, #f0f0f0 1px);
	background-size: 5px 5px; */
	width: 90% !important;
	max-width: 60rem;
}

.btn-primary {
	color: rgb(215, 214, 223) !important;
	background-color: rgb(21, 56, 78) !important;
	border: rgba(218, 217, 225, 0.782) 2px solid !important;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19) !important;
}

.flex {
	display: flex !important;
}

.flex-row {
	flex-direction: row !important;
}

.flex-column {
	flex-direction: column !important;
}

.space-between {
	justify-content: space-between !important;
}

.edit-delete-container {
	justify-content: flex-end;
	display: flex;
}

.edit-delete-container > button {
	margin: 1rem;
}

.new-button-container {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	padding: 1rem;
}

.details-button {
	margin: 1rem;
	width: 7rem;
}

@media (min-width: 975px) {
	.main-view-container {
		width: 90% !important;
	}
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
