body {
	padding: 2.5rem;
	/* background: linear-gradient(90deg, snow 1px, #f0f0f0 1px);
	background-size: 5px 5px; */
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.space-between {
	justify-content: space-between;
}

.edit-delete-container {
	justify-content: flex-end;
	display: flex;
}

.edit-delete-container > button {
	margin: 1rem;
}

.new-button-container {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	padding: 1rem;
}

.details-button {
	margin: 1rem;
	width: 7rem;
}
