.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.space-between {
	justify-content: space-between;
}

.edit-delete-container {
	justify-content: flex-end;
	display: flex;
}

.edit-delete-container > button {
	margin: 1rem;
}

.new-button-container {
	display: flex;
	justify-content: end;
	flex-wrap: wrap;
	padding: 1rem;
}
