.nav-container {
	margin-bottom: 1rem !important ;
}

.nav-item {
	text-align: center;
	align-content: center;
	flex-wrap: wrap;
	display: flex;
}

.col {
	justify-content: center;
}

.logo {
	height: 10rem !important;
	width: 10rem !important;
}
