.confirm-dialog {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 12rem;
	width: 18rem;
	z-index: 100;
}

.button-container {
	justify-content: flex-end;
	display: flex;
}

.dialog-button {
	margin: 1rem;
	width: 6rem;
}

h6 {
	text-align: center;
}
